/* App.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong:wght@400;500;600;700&family=Onest:wght@200;400;500;700;900&display=swap");

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.leaflet-container {
	height: 400px;
	width: 500px;
}
